<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is a Home Page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt odit
      blanditiis officia. Molestiae quasi fugiat quo eius ex excepturi nulla
      similique quidem veniam, vero a enim dolor. Expedita quam odit, quos illum
      inventore minima ex voluptates distinctio porro. A officiis quos facilis
      expedita nulla ut quaerat odit ullam quod eum!
    </p>
    <button>click me</button>
  </body>
</html>
